<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>City Games</title>
    <link rel="stylesheet" href="../css/main.css" />
    <link rel="stylesheet" href="../css/bootstrap.min.css" />
    <link rel="stylesheet" href="../css/summernote.css" />
</head>
<body>
    <!-- tag::logout[] -->
    <!--<div>-->
        <!--Hello, <span th:text="${#authentication.name}">user</span>.-->
        <!--<form th:action="@{/logout}" method="post">-->
            <!--<input type="submit" value="Log Out"/>-->
        <!--</form>-->
    <!--</div>-->
    <!-- end::logout[] -->



    <div id="react"></div>

    <script src="built/bundle.js"></script>
    <script src="custom-js/jquery.js"></script>
    <script src="custom-js/bootstrap.min.js"></script>
    <script src="custom-js/summernote.min.js"></script>


</body>
</html>